.git

frontend/node_modules
frontend/dist
frontend/coverage

backend/.venv
backend/.pytest_cache
backend/htmlcov
backend/CHANGELOG.md
frontend/CHANGELOG.md
backup/CHANGELOG.md


backup/.venv
backup/.pytest_cache

charts/**/templates
